# üè¶ Loan Approval Prediction using KNN Classification

## üìå Objective
The goal of this project is to predict whether a loan will be approved or not based on applicant financial and employment details using the **K-Nearest Neighbors (KNN)** classification algorithm.

## üì¶ Import Required Libraries

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

## üìÇ Load the Dataset

In [2]:
df = pd.read_csv("knn classification data set.csv")
df.head()

,age,annual_income,credit_score,loan_amount,employment_years,existing_loans,loan_approved
0,56,1766847,681,1157268,9,1,1
1,69,523412,468,705129,38,2,0
2,46,685417,516,767104,14,2,1
3,32,1680035,677,852242,6,0,1
4,60,388456,418,972630,28,4,0

## üîç Exploratory Data Analysis (EDA)

Exploratory Data Analysis (EDA) has already been performed on this dataset.  
The data has been reviewed for structure, quality, and consistency, and is confirmed to be clean and ready for feature‚Äìtarget separation and model training.

## üß© Feature‚ÄìTarget Separation

- **X** ‚Üí Input features  
- **y** ‚Üí Target variable (`loan_approved`)

In [3]:
X = df.drop("loan_approved", axis=1)
y = df["loan_approved"]

## ‚úÇÔ∏è Train-Test Split

The dataset is split into training and testing sets to evaluate model performance on unseen data.

In [4]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

## üìè Feature Scaling

KNN is a distance-based algorithm, so feature scaling is mandatory to ensure all features contribute equally.

In [5]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)