In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data_set=pd.read_csv("house_price_prediction.csv")
data_set

     area_sqft  bedrooms  bathrooms  age_years  location_score   price
0         1749         4          3         33               7  514444
1         1558         1          3         38               8  420323
2         1794         3          1         27               9  470933
3         2056         5          3         34               8  565541
4         1529         3          3         15               3  349016
..         ...       ...        ...        ...             ...     ...
995       1515         3          1         28               7  402190
996       2139         4          2          3               6  502569
997       1792         1          1         34               8  458068
998       1428         3          1         16               7  402088
999       1771         2          3         22               5  396293

[1000 rows x 6 columns]